h1 {
  font-size: 30px;
  margin-left: 10px;
}

h2 {
  font-size: 25px;
  margin-left: 10px;
}

h3 {
  font-size: 20px;
  margin-left: 10px;
}

.profile-pic {
  width: 80px;
  margin-left: 10px;
}

.post-pic {
  width: 30px;
  margin-left: 10px;
}

.sign-button {
  margin-left: 10px;
}

form {
  margin-left: 10px;
}

.post-div {
  width: 80%;
  max-width: 500px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

